{% extends "base.html" %}
{% load static %}
{% load pinax_testimonials_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black heading">
                    Thinking about exploring
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Explore Products</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block testimonials %}
    <div class="container-fluid background w-100">
        <div class="row h-50">
            <div class="col-md-12 mb-3">
                <div class="carousel slide" data-ride="carousel" id="my-slider">
                    <!-- <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target="#my-slider"></li>
                        <li data-slide-to="1" data-target="#my-slider"></li>
                    </ol> -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="row">
                                <div class="col-md-4 div-mobile-space">
                                    <span class="img-text">
                                        {% testimonials 1 as quotes %}
                                        {% for quote in quotes %}
                                        <h2><i class="fa fa-user-circle" aria-hidden="true"></i> {{quote.author}}</h2>
                                        <p><i class="fa fa-quote-left" aria-hidden="true"></i> {{quote.text}}</p>
                                        {% endfor %}
                                    </span>
                                </div>
                                <div class="col-md-4 div-mobile-space">
                                    <span class="img-text">
                                        {% random_testimonials 1 as quotes %}
                                        {% for quote in quotes %}
                                        <h2><i class="fa fa-user-circle" aria-hidden="true"></i> {{quote.author}}</h2>
                                        <p><i class="fa fa-quote-left" aria-hidden="true"></i> {{quote.text}}</p>
                                        {% endfor %}
                                    </span>
                                </div>
                                <div class="col-md-4">
                                    <span class="img-text">
                                        {% random_testimonials 1 as quotes %}
                                        {% for quote in quotes %}
                                        <h2><i class="fa fa-user-circle" aria-hidden="true"></i> {{quote.author}}</h2>
                                        <p><i class="fa fa-quote-left" aria-hidden="true"></i> {{quote.text}}</p>
                                        {% endfor %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}