<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-blue mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-blue mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cricket
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=Cricket-Bats-And-Balls" class="dropdown-item">Cricket Bats & Balls</a>
                <a href="{% url 'products' %}?category=Cricket-Shoes" class="dropdown-item">Cricket Shoes</a>
                <a href="{% url 'products' %}?category=Other-Cricket-Accessories" class="dropdown-item">Other Cricket Accessories</a>
                <a href="{% url 'products' %}?category=Cricket-Bats-And-Balls,Cricket-Shoes,Other-Cricket-Accessories" class="dropdown-item">All Cricket Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-blue mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Football
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=Nike-and-Adidas" class="dropdown-item">Nike & Adidas</a>
                <a href="{% url 'products' %}?category=Others-Football" class="dropdown-item">Others</a>
                <a href="{% url 'products' %}?category=Football-Trainers" class="dropdown-item">Football Trainers</a>
                <a href="{% url 'products' %}?category=Nike-and-Adidas,Others-Football,Football-Trainers" class="dropdown-item">All Football Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-blue mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Badminton
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=Rackets-and-Shuttles" class="dropdown-item">Rackets & Shuttles</a>
                <a href="{% url 'products' %}?category=Badminton-Shoes" class="dropdown-item">Badminton Shoes</a>
                <a href="{% url 'products' %}?category=Rackets-and-Shuttles,Badminton-Shoes" class="dropdown-item">All Badminton Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-blue" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=New-Arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=Deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=Clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=New-Arrivals,Deals,Clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>